.def breakable bomb|hammer
.def useless_keys door_key&shrine_key
.def all_keys sky_key&lake_key&ruby_key&wind_key&cloud_key&light_key&sword_key&tree_key&flower_key&magma_key&heart_key&ghost_key&trial_key&dankirk_key&basement_key&narcysus_key&truth_key&mermaid_jade
.def all_tools arrow&bomb&hook&hammer&fire_arrow
.def all_tools_or_keys all_tools|all_keys
.def arrowlike arrow|hook|fire_arrow

.def all_capsules jelze&flash&gusto&zeppy&darbi&sully&blaze
.def some_capsules jelze|flash|gusto|zeppy|darbi|sully|blaze

.def group1_some selan|tia
.def group1_all selan&tia
.def group2_some guy|dekar
.def group2_all guy&dekar
.def group3_some maxim|artea|lexis
.def group3_all maxim&artea&lexis

.def any_tool arrow|bomb|hook|hammer|fire_arrow
.def any_character maxim|selan|guy|artea|tia|dekar|lexis
.def party0 any_tool&any_character

.def party1a group1_all|group2_all
.def party1b group1_some&group2_some
.def party1c group1_some&group3_some
.def party1d group2_some&group3_some
.def party1 party1a|party1b|party1c|party1d

.def party2a group1_some&group2_some&group3_some
.def party2b group1_all&group2_some
.def party2c group1_some&group2_all
.def party2d group1_all&group3_some
.def party2e group2_all&group3_some
.def party2f group3_all
.def party2 party2a|party2b|party2c|party2d|party2e|party2f

.def party3a party1a&party2a
.def party3b group3_all
.def party3c group1_all&group2_all
.def party3 party3a|party3b|party3c

.def party4 group1_all&group2_all&group3_all
.def party5 party4&all_capsules

.def airship engine
.def submarine mermaid_jade
.def submarine_or_airship submarine|airship
.def victory victory

.def dankirk hook&bomb&dankirk_key&party3
.def gratze dankirk|submarine_or_airship

starting_character  *
starting_item       *
hidden_item         *
skill_cave          arrowlike&party0
foomy_woods         party0
darbi_shrine        party0
zeppy_cave          submarine&party0
sundletan_cave      party0
catfish_cave        arrowlike&lake_key&party0
alunze_cave         breakable&party0
alunze_basement     breakable&party0
tanbel_tower1       bomb&sky_key&party1
tanbel_tower2       bomb&sky_key&party1
ruby_cave           ruby_key&party1
ruby_capsule        breakable&party0
tsword_shrine1      bomb&sword_key&party2
tsword_shrine2      bomb&sword_key&party2
gordovan_tower1     hook&bomb&wind_key&party2
gordovan_tower2     hook&bomb&wind_key&party2
cave_bridge         breakable&hook&party0
north_dungeon       hook&bomb&party2
north_capsule       hook&party2
ancient_tower1      hook&bomb&cloud_key&party2
ancient_tower2      hook&bomb&cloud_key&party2
lighthouse1         breakable&light_key&party2
lighthouse2         breakable&light_key&party2
phantom_mountain    hook&bomb&fire_arrow&tree_key&party2
sacrifice_tower1    hook&bomb&narcysus_key&party2
sacrifice_tower2    hook&bomb&narcysus_key&party2
sacrifice_capsule   hook&breakable&narcysus_key&party2
karlloon_shrine1    hook&bomb&party2
karlloon_shrine2    hook&bomb&party2
lexis_lab           party0
flower_mountain     hammer&flower_key&party2
flower_capsule      hammer&hook&party2
dankirk_dungeon     dankirk
northeast_tower1    hook&hammer&trial_key&party2
northeast_tower2    hook&hammer&trial_key&party2
no_return_mountain  party0
divine_shrine1      hook&hammer&heart_key&party2
divine_shrine2      hook&hammer&heart_key&party2
vengeance_shrine1   submarine&bomb&hammer&ghost_key&party2
vengeance_shrine2   submarine&bomb&hammer&ghost_key&party2
truth_tower1        breakable&hook&truth_key&party2
truth_tower2        breakable&hook&truth_key&party2
dragon_mountain     submarine_or_airship&hook&hammer&fire_arrow&magma_key&party2
underwater_shrine   submarine&party0
gratze_basement     gratze&hook&basement_key&party2
shuman              airship&party3
stradha             airship&party3
kamirno             airship&party3
daos_shrine         lisa&marie&clare&airship&submarine&all_tools&all_keys&party5
